<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="sasyCon" connectionString="Data Source=localhost; Integrated Security=true;Initial Catalog=SASystem; uid=sa; Password=ameenu; " providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

</configuration>
